<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Execute Scraping</title>
    <script src="main.js"></script>
</head>

<body>
    <div id="main">
        <form onsubmit="submitForm(); return false;">
            <!-- 地方の選択 -->
            <div onchange="createPrefecturesSelectBox()">
                <label for="region">地域:</label>
                <select id="region_select_box" name="region">
                    <option value="">選択してください</option>
                </select>
            </div>

            <!-- 都道府県の選択 -->
            <div onchange="createCityCheckBoxes()">
                <label for="prefecture">都道府県:</label>
                <select id="prefecture_select_box" name="prefecture">
                    <option value="">選択してください</option>
                </select>
            </div>

            <!-- 市区町村の入力 -->
            <div id="city_checkboxes"></div>

            <!-- その他条件 -->
            <table>
                <tbody>
                    <tr>
                        <th>間取りタイプ</th>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="ワンルーム">
                                ワンルーム
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="1K">
                                1K
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="1DK">
                                1DK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="1LDK">
                                1LDK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="2K">
                                2K
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="2DK">
                                2DK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="2LDK">
                                2LDK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="3K">
                                3K
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="3DK">
                                3DK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="3LDK">
                                3LDK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="4K">
                                4K
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="4DK">
                                4DK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="4LDK">
                                4LDK
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="間取りタイプ" value="5K以上">
                                5K以上
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th>建物種別</th>
                        <td>
                            <label>
                                <input type="checkbox" name="建物種別" value="マンション">
                                マンション
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="建物種別" value="アパート">
                                アパート
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="checkbox" name="建物種別" value="一戸建て・その他">
                                一戸建て・その他
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="submit" value="送信" id="submit-btn">
        </form>
    </div>
</body>

</html>