<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Execute Scraping</title>
    <script src="main.js"></script>
</head>

<body>
    <div id="main">
        <!-- <button onclick="createPrefecturesCheckbox()">Fetch Data</button> -->
        <div id="response"></div>

        <!-- 地方の選択 -->
        <div onchange="createPrefecturesSelectBox()">
            <label for="region">地域:</label>
            <select id="region_select_box" name="region">
                <option value="">選択してください</option>
            </select>
        </div>

        <!-- 都道府県の選択 -->
        <div onchange="createCityCheckBoxes()">
            <label for="prefecture">都道府県:</label>
            <select id="prefecture_select_box" name="prefecture">
                <option value="">選択してください</option>
            </select>
        </div>

        <!-- 市区町村の入力 -->
        <div id="city_checkboxes"></div>

        <!-- その他条件 -->

    </div>

</body>

</html>