<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Execute Scraping</title>
</head>

<body>
    <button onclick="fetchData()">Fetch Data</button>
    <div id="response"></div>
    <script>
        function fetchData() {
            fetch("http://localhost:8000/")
                .then(response => response.text())
                .then(data => {
                    document.querySelector("#response").textContent = data;
                });
        }

    </script>
</body>

</html>